<% content_for :title, "New product" %>

<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <h1 class="title is-2 has-text-centered">新しい商品を作成</h1>

      <%# フォーム本体をレンダリング %>
      <%= render "form", product: @product %>

      <div class="mt-5 has-text-centered">
        <%= link_to "商品一覧へ戻る", products_path, class: "button is-link is-light" %>
      </div>
    </div>
  </div>
</div>